@font-face {
  font-family: 'ptsans';
  src: url('/maker/file/PTS55F.ttf');
  src: url('/maker/file/PTS55F.ttf') format('truetype');
}

body {
  font-family: ptsans;
}

input {
  margin-bottom: 8px;
}

textarea {
  width: 95%;
  min-height: 80px;
  padding: 4px;
  margin-bottom: 8px;
}

.mini {
  font-size: 0.75em;
}

